<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portal Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="my-3">User Portal</h1>
                <div class="card">
                    <h2 class="text-center my-3">Dashboard</h2>
                    <p>Find all the registered users here</p>
                    <table class="table my-3">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(let i=0;i<user.length;i++){ %>
                          <tr>
                            <th scope="row"> <%= i+1 %> </th>
                            <td> <%= user[i].username %> </td>
                            <td> <%= user[i].password %> </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>